.comment {
    font-family: Helvetica;
	border-bottom: 0px;
}
.submit {
    font-family: Helvetica;
	border-right: 0px;

}
.questions {
    font-family: Helvetica;
	border-left: 0px;

}
body {

    font-family: Helvetica;
}

h1 {
    font-family: Helvetica;
}