.comment {
    font-family: Arial;
	border-bottom: 0px;
}
.submit {
    font-family: Arial;
	border-right: 0px;
    border-radius: 25px;

}
.submit2 {
    font-family: Arial;
	border-right: 0px;
    border-radius: 25px;

}
.questions {
    font-family: Arial;
	border-left: 0px;

}
.favourite{
    border-radius: 25px;
    font-family: Arial;

}

body {
    background-image: url("yhk1gA.jpg");
    background-blend-mode: lighten;
    background-repeat: no-repeat center fixed;
    background-size: cover;

    background-color: #ffffff;
    font-family: Arial;
}

h1 {
    font-family: Arial;
    text-align:center;
}
#text1{
    border-radius: 25px;
}


